@import 'tailwindcss';

/* Mobile Overflow Fix */
html,
body {
	overflow-x: hidden;
	max-width: 100vw;
	position: relative;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--font-mona-sans), Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

/* Prevent text size adjustment on iOS */
html {
	-webkit-text-size-adjust: 100%;
}

/* Smooth scrolling */
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

@theme inline {
	--animate-marquee: marquee var(--duration) infinite linear;
	--animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

	@keyframes marquee {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - var(--gap)));
		}
	}
	@keyframes marquee-vertical {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(calc(-100% - var(--gap)));
		}
	}
}

.embla {
	overflow: hidden;
}
.embla__container {
	display: flex;
}
.embla__slide {
	flex: 0 0 75%;
	margin-right: 16px;
	min-width: 0;
	gap: 32px;
}

@media (min-width: 768px) {
	.embla__slide {
		flex: 0 0 50%;
		margin-right: 32px;
	}
}
@media (min-width: 900px) {
	.embla__slide {
		flex: 0 0 30%;
		margin-right: 32px;
	}
}
